@model RhythmRecall.Models.ReviewDto

@{
    ViewBag.Title = "Edit Review";
}

<h2>Add Review For song</h2>

<div class="form-container">

    <form method="POST" action="/Review/Add">

        <div class="input-container">
            <label>Title : <input type="text" name="Title" value="@Model.Title" /> </label>
        </div>

        <div class="input-container">
            <label>Content : <input type="text" name="Content" value="@Model.Content" /></label>
        </div>

            <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="TrackId" value="@Model.TrackId" />   


        <div class="input-container">
            <input type="submit" value="Add review" />
        </div>

    </form>

</div>