@model IEnumerable<RhythmRecall.Models.UserDto>

@{
    ViewBag.Title = "Home Page";
}

<main class="home-page">
    
    <form method="get" action="/User/CheckProfile">

        <input type="text" name="username" placeholder="Enter your user name" />

        <input type="password" name="password" placeholder="leave it blank" />

        <input type="submit" value="Go to profile" />


    </form>

    <section>

        <h5>Some username to test</h5>

        @{int counter = 0;} 

        @foreach( var username in Model)
        {

            if( counter == 6) { continue; }

                <h4>@username.Username</h4>
            counter++;
        }

    </section>
</main>