
@{
    ViewBag.Title = "Profile";
}




<section class="profile-container">

    <div class="profile-card">

            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp" title="user-avatar" class="user-image"/>

            <div class="info">
                <p>@@musicexplorer | Priyam Desai</p>
            </div>

     <div class="user-info">

            <div class="reviews">
                <p>Reviews</p>
                <p>6</p>
            </div>

            <div class="listen-later">
                <p>Listen Later</p>
                <p>12</p>
            </div>

            <div class="discoverd">
                <p>Discoverd</p>
                <p>24</p>
            </div>

    </div>

    </div>

</section>